<config>
  <event mask="l6" script="btn1.png" />
  <event mask="l7" script="btn1.png" />
  <event mask="l8" script="btn1.png" />
  <event mask="l9" script="btn1.png" />
  <event mask="l10" script="btn1.png" />
  <event mask="l11" script="btn1.png" />
  <event mask="l12" script="btn1.png" />
  <event mask="l13" script="btn1.png" />

  <event mask="" script="idle.png" />
</config>
