<config>
  <event mask="l6" layers="1" script="patterns/a1a.png" />
  <event mask="l7" layers="2" script="patterns/a2a.png" />
  <event mask="l8" layers="3" script="patterns/a3a.png" />
  <event mask="l9" layers="4" script="patterns/a4a.png" />
  <event mask="l10" layers="5" script="patterns/a5a.png" />
  <event mask="l11" layers="6" script="patterns/a1c.png" />
  <event mask="l12" layers="7" script="patterns/a2c.png" />
  <event mask="l13" layers="8" script="patterns/a3c.png" />
  <event mask="l14" layers="9" script="patterns/a4c.png" />
  <event mask="l15" layers="10" script="patterns/a5c.png" />

  <event mask="l6 l11" layers="1 5" script="patterns/chase_a.png" />
  <event mask="l7 l12" layers="2 6" script="patterns/chase_b.png" />
  <event mask="l8 l13" layers="3 7" script="patterns/chase_c.png" />

  <event mask="" layers="bg" script="idle.png" />
</config>

